.App {
  text-align: center;
}

#inputs {
  display: flex;
  flex-direction: column;
}

#phrases {
  display: flex;
  justify-content: space-evenly;
  width: 100cqmin;
}

.phrase {
  border: 1px solid red;
}
